@page
@attribute [Authorize(Roles = "admin, superuser")]

<h3>Panel zarządzania</h3>
<p>Z tego miejsca odbywać się będzie zarządzanie użytkownikami w obrębie firmy jeśli masz role administratora</p>

<h3>Użytkownicy:</h3>

<h3>Farmy:</h3>



@code {

}