@page "/counter"



<div class="form-floating">
    <input step="any" type="number" class="form-control modified valid" id="floatingInput" placeholder="123">
    <label for="floatingInput">Test pure html</label>
</div>


<EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-floating">
        <InputText class="form-control" id="floatingInput" placeholder="name@example.com" @bind-Value="exampleModel.Name" />
        <label for="floatingInput">Test blazor</label>
    </div>    

    <button type="submit">Submit</button>
</EditForm>

@code {
    public class ExampleModel
    {
        public string Name { get; set; }
    }

    private ExampleModel exampleModel = new ExampleModel();

    private void HandleValidSubmit()
    {
        // Process the valid form
    }
}