@inherits LayoutComponentBase

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded" aria-label="Eleventh navbar example">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <NavMenuHorizontal />
                </ul>
                <form>
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form>
                <div>
                    <AuthorizeView>
                        <Authorized>
                            @*<a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>*@
                            <form method="post" action="Identity/Account/LogOut">
                                <button type="submit" style="background: none; padding:0px; border: none;">
                                    <i class="bi bi-person-check-fill" style="font-size: 1.5rem; color: gray; margin: 1rem;" />
                                </button>
                            </form>
                        </Authorized>
                        <NotAuthorized>
                            <a href="Identity/Account/Login">
                                <i class="bi bi-person-x-fill" style="font-size: 1.5rem; color: darkred; margin: 1rem;" />
                            </a>
                            @*<a href="Identity/Account/Register">Register</a>*@
                        </NotAuthorized>
                    </AuthorizeView>                    
                </div>
            </div>

        </div>
    </nav>

    <div>
        <div style="position:fixed; bottom:0;">
            <Notifications/>
        </div>
        <div class="bg-light p-5 rounded">
            <div>
                @Body
            </div>
        </div>
    </div>
</div>

<MilkUp.Components.Notifications />

@*dokończ sobie https://www.youtube.com/watch?v=BB4lK2kfKf0&t=681s*@