<AuthorizeView Roles="SuperUser">
    <li class="nav-item px-1">
        <NavLink class="nav-link" href="superuserpanel">
            <i class="bi bi-eyeglasses"></i> SUP
        </NavLink>
    </li>
</AuthorizeView>
<AuthorizeView Roles="SuperUser, Admin">
    <li class="nav-item px-1">
        <NavLink class="nav-link" href="adminpanel">
            <i class="bi bi-person-badge-fill"></i> AdminPanel
        </NavLink>
    </li>
</AuthorizeView>


<li class="nav-item px-1">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <i class="bi bi-eye-fill"></i> Brudnopis
    </NavLink>
</li>

<li class="nav-item dropdown px-1">
    <NavLink class="nav-link dropdown-toggle" href="cows" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-stack"></i> Krowy
    </NavLink>
    <ul class="dropdown-menu" aria-labelledby="dropdown09">
        <li>
            <NavLink class="dropdown-item" href="cows">
                Lista
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="addcow">
                Dodaj krowe
            </NavLink>
        </li>
    </ul>
</li>