<li class="nav-item px-1">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
    </NavLink>
</li>
<li class="nav-item px-1">
    <NavLink class="nav-link" href="cows">
        <span class="oi oi-book" aria-hidden="true"></span> Cows
    </NavLink>
</li>
<li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
    <ul class="dropdown-menu" aria-labelledby="dropdown09">
        <li>
            <NavLink class="dropdown-item" href="counter">
                Counter
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="fetchdata">
                Fetch data
            </NavLink>
        </li>
    </ul>
</li>