<AuthorizeView Roles="SuperUser">
    <li class="nav-item px-1">
        <NavLink class="nav-link" href="superuserpanel">
            <i class="bi bi-eyeglasses"></i> SUP
        </NavLink>
    </li>
</AuthorizeView>
<AuthorizeView Roles="SuperUser, Admin">
    <li class="nav-item px-1">
        <NavLink class="nav-link" href="adminpanel">
            <i class="bi bi-person-badge-fill"></i> AdminPanel
        </NavLink>
    </li>
</AuthorizeView>


<li class="nav-item px-1">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <i class="bi bi-eye-fill"></i> Główna
    </NavLink>
</li>
<li class="nav-item px-1">
    <NavLink class="nav-link" href="cows">
        <i class="bi bi-stack"></i> Krowy
    </NavLink>
</li>
<li class="nav-item">    
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> <i class="bi bi-key-fill"></i> Disabled</a>
</li>
<li class="nav-item dropdown">    
    <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-bs-toggle="dropdown" aria-expanded="false"> <i class="bi bi-puzzle-fill"></i> Dropdown</a>
    <ul class="dropdown-menu" aria-labelledby="dropdown09">
        <li>
            <NavLink class="dropdown-item" href="counter">
                Test1
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="fetchdata">
                Test2
            </NavLink>
        </li>
    </ul>
</li>